div{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    margin-bottom: 10%;

}
div{
button{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    background-color: hsla(73, 71%, 61%, 0.874);
}
}